POSTGRES_DB=good_hamburguer
POSTGRES_USER=good_hamburguer
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=good_hamburguer;Username=good_hamburguer;Password=change_me;Include Error Detail=true

# Docker compose ports (host side)
API_PORT=5078
VIEW_PORT=5189
